    <link rel="stylesheet" href="css/about.css">

    <section class="hero">
        <div class="container">
        <img src="img/library.jpg" alt="Hero Image">
        <div class="hero-content">
            <h2>Get to know Insight</h2>
            <p>Website perpustakaan untuk melihat review buku - buku yang belum pernah dibaca, menambahkan review sendiri pada buku yang sudah ada, dan juga dapat menambahkan buku yang belum ada.</p>
            <a href="/contact-us" class="btn">Talk to a Admin</a>
        </div>
    </div>
    </section>

    <section class="main-content">
        <div class="container">
            <h2>Get to know us more</h2>
            <div class="card-container">
                <div class="card">
                    <img src="img/team-3.jpg" alt="Card 1">
                    <br>
                    <h1>Richard Christian</h1>
                    <p>535220018</p>
                </div>
                <div class="card">
                    <img src="img/team-1.jpg" alt="Card 2">
                    <br>
                    <h1>Timot W Pakpahan</h1>
                    <p>535220043</p>
                </div>
                <div class="card">
                    <img src="img/team-2.jpg" alt="Card 3">
                    <br>
                    <h1>Jafier Andreas</h1>
                    <p>535220013</p>
                </div>
            </div>
        </div>
    </section>
